#!/usr/bin/make -f

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

%:
	dh $@ --with python2 --with python3

override_dh_auto_configure:
	dh_auto_configure -- -DINSTALL_LIB_DIR=/usr/lib/$(DEB_HOST_MULTIARCH)

override_dh_auto_build:
	dh_auto_build
	python3 obj-$(DEB_HOST_MULTIARCH)/bindings/python/setup.py build

override_dh_auto_install:
	dh_auto_install
	python3 obj-$(DEB_HOST_MULTIARCH)/bindings/python/setup.py install --root=debian/tmp/ --prefix=/usr

override_dh_compress:
	dh_compress -X.c -X.C

#override_dh_clistrip:
#	dh_clistrip --exclude=mdb
